In [21]:
# https://www.energate-messenger.de/markt/strom/preisgruppe/174994/eex-phelix-de-futures-base

import time
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [22]:
# get the content of the website
page = requests.get("https://www.energate-messenger.de/markt/strom/preisgruppe/174994/eex-phelix-de-futures-base")
html = page.content

In [23]:
# parse the html and save it into a BeautifulSoup instance
bs = BeautifulSoup(html, 'html.parser')

In [24]:
#print(bs.prettify())

In [25]:
#list(bs.findChildren())

In [26]:
bs.find('thead').find_all('th')

[<th colspan="2">Preisreihe</th>,
 <th>Datum</th>,
 <th>Preis</th>,
 <th>Preis Tief</th>,
 <th>Preis Hoch</th>,
 <th>Umsatz</th>,
 <th>Open Interest</th>,
 <th>No. of Trades</th>]

In [27]:
pricetable = bs.find('tbody')
pricetable.find_all('td')

[<td class="type">Jahr</td>,
 <td><a href="/markt/strom/preise/175102/eex-phelix-de-baseload-cal-2023">Jahr 2023</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">281,35</td>,
 <td class="numeric">273,00</td>,
 <td class="numeric">285,00</td>,
 <td class="numeric">1.384.080</td>,
 <td class="numeric">80.456</td>,
 <td class="numeric">131</td>,
 <td class="type">Jahr</td>,
 <td><a href="/markt/strom/preise/175103/eex-phelix-de-baseload-cal-2024">Jahr 2024</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">174,05</td>,
 <td class="numeric">170,00</td>,
 <td class="numeric">176,00</td>,
 <td class="numeric">535.824</td>,
 <td class="numeric">20.316</td>,
 <td class="numeric">48</td>,
 <td class="type">Jahr</td>,
 <td><a href="/markt/strom/preise/175104/eex-phelix-de-baseload-cal-2025">Jahr 2025</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">142,48</td>,
 <td class="numeric">140,75</td>,
 <td class="numeric">142,50</td>,
 <td class="numeric">122.640</td>,
 <td class="numeric">5.958</td>,
 <td class="numeric">12</td>,
 <td class="type">Quartal</td>,
 <td><a href="/markt/strom/preise/197301/eex-phelix-de-baseload-q4-22">Quartal 4/2022</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">362,23</td>,
 <td class="numeric">353,50</td>,
 <td class="numeric">365,00</td>,
 <td class="numeric">340.186</td>,
 <td class="numeric">190.305</td>,
 <td class="numeric">97</td>,
 <td class="type">Quartal</td>,
 <td><a href="/markt/strom/preise/197305/eex-phelix-de-baseload-q1-23">Quartal 1/2023</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">337,52</td>,
 <td class="numeric">325,00</td>,
 <td class="numeric">340,00</td>,
 <td class="numeric">198.628</td>,
 <td class="numeric">17.665</td>,
 <td class="numeric">61</td>,
 <td class="type">Quartal</td>,
 <td><a href="/markt/strom/preise/197309/eex-phelix-de-baseload-q2-23">Quartal 2/2023</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">246,38</td>,
 <td class="numeric">243,50</td>,
 <td class="numeric">249,50</td>,
 <td class="numeric">124.488</td>,
 <td class="numeric">6.852</td>,
 <td class="numeric">39</td>,
 <td class="type">Quartal</td>,
 <td><a href="/markt/strom/preise/197313/eex-phelix-de-baseload-q3-23">Quartal 3/2023</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">246,34</td>,
 <td class="numeric">240,50</td>,
 <td class="numeric">250,00</td>,
 <td class="numeric">99.360</td>,
 <td class="numeric">6.370</td>,
 <td class="numeric">24</td>,
 <td class="type">Quartal</td>,
 <td><a href="/markt/strom/preise/197317/eex-phelix-de-baseload-q4-23">Quartal 4/2023</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">296,02</td>,
 <td class="numeric">290,00</td>,
 <td class="numeric">297,00</td>,
 <td class="numeric">97.196</td>,
 <td class="numeric">6.549</td>,
 <td class="numeric">22</td>,
 <td class="type">Quartal</td>,
 <td><a href="/markt/strom/preise/197321/eex-phelix-de-baseload-q1-24">Quartal 1/2024</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">257,05</td>,
 <td class="numeric">257,00</td>,
 <td class="numeric">257,00</td>,
 <td class="numeric">4.366</td>,
 <td class="numeric">682</td>,
 <td class="numeric">2</td>,
 <td class="type">Quartal</td>,
 <td><a href="/markt/strom/preise/197325/eex-phelix-de-baseload-q2-24">Quartal 2/2024</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">134,63</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">533</td>,
 <td class="numeric">-</td>,
 <td class="type">Quartal</td>,
 <td><a href="/markt/strom/preise/197329/eex-phelix-de-baseload-q3-24">Quartal 3/2024</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">132,01</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">618</td>,
 <td class="numeric">-</td>,
 <td class="type">Quartal</td>,
 <td><a href="/markt/strom/preise/197333/eex-phelix-de-baseload-q4-24">Quartal 4/2024</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">173,01</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">172</td>,
 <td class="numeric">-</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197296/eex-phelix-de-baseload-juni-22">Juni 2022</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">218,03</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">233.975</td>,
 <td class="numeric">-</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197298/eex-phelix-de-baseload-juli-22">Juli 2022</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">286,17</td>,
 <td class="numeric">270,00</td>,
 <td class="numeric">290,00</td>,
 <td class="numeric">361.584</td>,
 <td class="numeric">228.369</td>,
 <td class="numeric">234</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197299/eex-phelix-de-baseload-august-22">August 2022</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">307,47</td>,
 <td class="numeric">290,00</td>,
 <td class="numeric">308,50</td>,
 <td class="numeric">207.576</td>,
 <td class="numeric">213.819</td>,
 <td class="numeric">180</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197300/eex-phelix-de-baseload-september-22">September 2022</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">333,79</td>,
 <td class="numeric">325,00</td>,
 <td class="numeric">340,00</td>,
 <td class="numeric">86.400</td>,
 <td class="numeric">213.075</td>,
 <td class="numeric">64</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197302/eex-phelix-de-baseload-oktober-22">Oktober 2022</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">316,97</td>,
 <td class="numeric">310,00</td>,
 <td class="numeric">318,00</td>,
 <td class="numeric">23.095</td>,
 <td class="numeric">1.039</td>,
 <td class="numeric">17</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197303/eex-phelix-de-baseload-november-22">November 2022</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">384,11</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">161</td>,
 <td class="numeric">-</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197304/eex-phelix-de-baseload-dezember-22">Dezember 2022</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">386,37</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">384</td>,
 <td class="numeric">-</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197306/eex-phelix-de-baseload-januar-23">Januar 2023</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">369,16</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197307/eex-phelix-de-baseload-februar-23">Februar 2023</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">369,16</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">2</td>,
 <td class="numeric">-</td>,
 <td class="type">Monat</td>,
 <td><a href="/markt/strom/preise/197308/eex-phelix-de-baseload-maerz-23">März 2023</a></td>,
 <td class="date">29.06.2022</td>,
 <td class="numeric">277,22</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>]

In [28]:
pricetable.find_all(class_="numeric")

[<td class="numeric">281,35</td>,
 <td class="numeric">273,00</td>,
 <td class="numeric">285,00</td>,
 <td class="numeric">1.384.080</td>,
 <td class="numeric">80.456</td>,
 <td class="numeric">131</td>,
 <td class="numeric">174,05</td>,
 <td class="numeric">170,00</td>,
 <td class="numeric">176,00</td>,
 <td class="numeric">535.824</td>,
 <td class="numeric">20.316</td>,
 <td class="numeric">48</td>,
 <td class="numeric">142,48</td>,
 <td class="numeric">140,75</td>,
 <td class="numeric">142,50</td>,
 <td class="numeric">122.640</td>,
 <td class="numeric">5.958</td>,
 <td class="numeric">12</td>,
 <td class="numeric">362,23</td>,
 <td class="numeric">353,50</td>,
 <td class="numeric">365,00</td>,
 <td class="numeric">340.186</td>,
 <td class="numeric">190.305</td>,
 <td class="numeric">97</td>,
 <td class="numeric">337,52</td>,
 <td class="numeric">325,00</td>,
 <td class="numeric">340,00</td>,
 <td class="numeric">198.628</td>,
 <td class="numeric">17.665</td>,
 <td class="numeric">61</td>,
 <td class="numeric">246,38</td>,
 <td class="numeric">243,50</td>,
 <td class="numeric">249,50</td>,
 <td class="numeric">124.488</td>,
 <td class="numeric">6.852</td>,
 <td class="numeric">39</td>,
 <td class="numeric">246,34</td>,
 <td class="numeric">240,50</td>,
 <td class="numeric">250,00</td>,
 <td class="numeric">99.360</td>,
 <td class="numeric">6.370</td>,
 <td class="numeric">24</td>,
 <td class="numeric">296,02</td>,
 <td class="numeric">290,00</td>,
 <td class="numeric">297,00</td>,
 <td class="numeric">97.196</td>,
 <td class="numeric">6.549</td>,
 <td class="numeric">22</td>,
 <td class="numeric">257,05</td>,
 <td class="numeric">257,00</td>,
 <td class="numeric">257,00</td>,
 <td class="numeric">4.366</td>,
 <td class="numeric">682</td>,
 <td class="numeric">2</td>,
 <td class="numeric">134,63</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">533</td>,
 <td class="numeric">-</td>,
 <td class="numeric">132,01</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">618</td>,
 <td class="numeric">-</td>,
 <td class="numeric">173,01</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">172</td>,
 <td class="numeric">-</td>,
 <td class="numeric">218,03</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">233.975</td>,
 <td class="numeric">-</td>,
 <td class="numeric">286,17</td>,
 <td class="numeric">270,00</td>,
 <td class="numeric">290,00</td>,
 <td class="numeric">361.584</td>,
 <td class="numeric">228.369</td>,
 <td class="numeric">234</td>,
 <td class="numeric">307,47</td>,
 <td class="numeric">290,00</td>,
 <td class="numeric">308,50</td>,
 <td class="numeric">207.576</td>,
 <td class="numeric">213.819</td>,
 <td class="numeric">180</td>,
 <td class="numeric">333,79</td>,
 <td class="numeric">325,00</td>,
 <td class="numeric">340,00</td>,
 <td class="numeric">86.400</td>,
 <td class="numeric">213.075</td>,
 <td class="numeric">64</td>,
 <td class="numeric">316,97</td>,
 <td class="numeric">310,00</td>,
 <td class="numeric">318,00</td>,
 <td class="numeric">23.095</td>,
 <td class="numeric">1.039</td>,
 <td class="numeric">17</td>,
 <td class="numeric">384,11</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">161</td>,
 <td class="numeric">-</td>,
 <td class="numeric">386,37</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">384</td>,
 <td class="numeric">-</td>,
 <td class="numeric">369,16</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">369,16</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">2</td>,
 <td class="numeric">-</td>,
 <td class="numeric">277,22</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>,
 <td class="numeric">-</td>]

---

## Lists

In [29]:
headers = pricetable.find_all('a')
headers_lst = [header.get_text() for header in headers]
headers_lst

['Jahr 2023',
 'Jahr 2024',
 'Jahr 2025',
 'Quartal 4/2022',
 'Quartal 1/2023',
 'Quartal 2/2023',
 'Quartal 3/2023',
 'Quartal 4/2023',
 'Quartal 1/2024',
 'Quartal 2/2024',
 'Quartal 3/2024',
 'Quartal 4/2024',
 'Juni 2022',
 'Juli 2022',
 'August 2022',
 'September 2022',
 'Oktober 2022',
 'November 2022',
 'Dezember 2022',
 'Januar 2023',
 'Februar 2023',
 'März 2023']

In [30]:
types = pricetable.find_all(class_='type')
types_lst = [typ.get_text() for typ in types]
types_lst

['Jahr',
 'Jahr',
 'Jahr',
 'Quartal',
 'Quartal',
 'Quartal',
 'Quartal',
 'Quartal',
 'Quartal',
 'Quartal',
 'Quartal',
 'Quartal',
 'Monat',
 'Monat',
 'Monat',
 'Monat',
 'Monat',
 'Monat',
 'Monat',
 'Monat',
 'Monat',
 'Monat']

In [31]:
dates = pricetable.find_all(class_="date")
dates_lst = [date.get_text() for date in dates]
dates_lst

['29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022',
 '29.06.2022']

In [32]:
numerics = pricetable.find_all(class_='numeric')
numerics_lst = [numeric.get_text() for numeric in numerics]
numerics_lst

['281,35',
 '273,00',
 '285,00',
 '1.384.080',
 '80.456',
 '131',
 '174,05',
 '170,00',
 '176,00',
 '535.824',
 '20.316',
 '48',
 '142,48',
 '140,75',
 '142,50',
 '122.640',
 '5.958',
 '12',
 '362,23',
 '353,50',
 '365,00',
 '340.186',
 '190.305',
 '97',
 '337,52',
 '325,00',
 '340,00',
 '198.628',
 '17.665',
 '61',
 '246,38',
 '243,50',
 '249,50',
 '124.488',
 '6.852',
 '39',
 '246,34',
 '240,50',
 '250,00',
 '99.360',
 '6.370',
 '24',
 '296,02',
 '290,00',
 '297,00',
 '97.196',
 '6.549',
 '22',
 '257,05',
 '257,00',
 '257,00',
 '4.366',
 '682',
 '2',
 '134,63',
 '-',
 '-',
 '-',
 '533',
 '-',
 '132,01',
 '-',
 '-',
 '-',
 '618',
 '-',
 '173,01',
 '-',
 '-',
 '-',
 '172',
 '-',
 '218,03',
 '-',
 '-',
 '-',
 '233.975',
 '-',
 '286,17',
 '270,00',
 '290,00',
 '361.584',
 '228.369',
 '234',
 '307,47',
 '290,00',
 '308,50',
 '207.576',
 '213.819',
 '180',
 '333,79',
 '325,00',
 '340,00',
 '86.400',
 '213.075',
 '64',
 '316,97',
 '310,00',
 '318,00',
 '23.095',
 '1.039',
 '17',
 '384,11',
 '-',
 '-',
 '-',
 '161',
 '-',
 '386,37',
 '-',
 '-',
 '-',
 '384',
 '-',
 '369,16',
 '-',
 '-',
 '-',
 '-',
 '-',
 '369,16',
 '-',
 '-',
 '-',
 '2',
 '-',
 '277,22',
 '-',
 '-',
 '-',
 '-',
 '-']

In [33]:
len(numerics_lst)
slst = numerics_lst
slst = ([s.replace('.','') for s in slst])
slst = ([s.replace(',','.') for s in slst])

slst

['281.35',
 '273.00',
 '285.00',
 '1384080',
 '80456',
 '131',
 '174.05',
 '170.00',
 '176.00',
 '535824',
 '20316',
 '48',
 '142.48',
 '140.75',
 '142.50',
 '122640',
 '5958',
 '12',
 '362.23',
 '353.50',
 '365.00',
 '340186',
 '190305',
 '97',
 '337.52',
 '325.00',
 '340.00',
 '198628',
 '17665',
 '61',
 '246.38',
 '243.50',
 '249.50',
 '124488',
 '6852',
 '39',
 '246.34',
 '240.50',
 '250.00',
 '99360',
 '6370',
 '24',
 '296.02',
 '290.00',
 '297.00',
 '97196',
 '6549',
 '22',
 '257.05',
 '257.00',
 '257.00',
 '4366',
 '682',
 '2',
 '134.63',
 '-',
 '-',
 '-',
 '533',
 '-',
 '132.01',
 '-',
 '-',
 '-',
 '618',
 '-',
 '173.01',
 '-',
 '-',
 '-',
 '172',
 '-',
 '218.03',
 '-',
 '-',
 '-',
 '233975',
 '-',
 '286.17',
 '270.00',
 '290.00',
 '361584',
 '228369',
 '234',
 '307.47',
 '290.00',
 '308.50',
 '207576',
 '213819',
 '180',
 '333.79',
 '325.00',
 '340.00',
 '86400',
 '213075',
 '64',
 '316.97',
 '310.00',
 '318.00',
 '23095',
 '1039',
 '17',
 '384.11',
 '-',
 '-',
 '-',
 '161',
 '-',
 '386.37',
 '-',
 '-',
 '-',
 '384',
 '-',
 '369.16',
 '-',
 '-',
 '-',
 '-',
 '-',
 '369.16',
 '-',
 '-',
 '-',
 '2',
 '-',
 '277.22',
 '-',
 '-',
 '-',
 '-',
 '-']

In [34]:
def make_sublists(main_list, sublist_size):
    return [main_list[x:x+sublist_size]
            for x in range(0, len(main_list), sublist_size)]

In [35]:
def extract(lst, ii):
    return [item[ii] for item in lst]

In [36]:
sublist = extract(make_sublists(slst, 6),0)
sublist

['281.35',
 '174.05',
 '142.48',
 '362.23',
 '337.52',
 '246.38',
 '246.34',
 '296.02',
 '257.05',
 '134.63',
 '132.01',
 '173.01',
 '218.03',
 '286.17',
 '307.47',
 '333.79',
 '316.97',
 '384.11',
 '386.37',
 '369.16',
 '369.16',
 '277.22']

In [37]:
len(slst)/6

22.0

In [38]:
df = pd.DataFrame(list(zip(headers_lst, types_lst, dates_lst)), columns=['PriceSeries', 'PriceType', 'Date'])

# Numeric Columns
hlist = ['Price', 'PriceLow', 'PriceHigh', 'Volumne', 'OpenInterest', 'TradesCount']
for i in range(len(hlist)):
    df[hlist[i]] = extract(make_sublists(slst, 6),i)
    
df

,PriceSeries,PriceType,Date,Price,PriceLow,PriceHigh,Volumne,OpenInterest,TradesCount
0,Jahr 2023,Jahr,29.06.2022,281.35,273.00,285.00,1384080,80456,131
1,Jahr 2024,Jahr,29.06.2022,174.05,170.00,176.00,535824,20316,48
2,Jahr 2025,Jahr,29.06.2022,142.48,140.75,142.50,122640,5958,12
3,Quartal 4/2022,Quartal,29.06.2022,362.23,353.50,365.00,340186,190305,97
4,Quartal 1/2023,Quartal,29.06.2022,337.52,325.00,340.00,198628,17665,61
5,Quartal 2/2023,Quartal,29.06.2022,246.38,243.50,249.50,124488,6852,39
6,Quartal 3/2023,Quartal,29.06.2022,246.34,240.50,250.00,99360,6370,24
7,Quartal 4/2023,Quartal,29.06.2022,296.02,290.00,297.00,97196,6549,22
8,Quartal 1/2024,Quartal,29.06.2022,257.05,257.00,257.00,4366,682,2
9,Quartal 2/2024,Quartal,29.06.2022,134.63,-,-,-,533,-
10,Quartal 3/2024,Quartal,29.06.2022,132.01,-,-,-,618,-
11,Quartal 4/2024,Quartal,29.06.2022,173.01,-,-,-,172,-
12,Juni 2022,Monat,29.06.2022,218.03,-,-,-,233975,-
13,Juli 2022,Monat,29.06.2022,286.17,270.00,290.00,361584,228369,234
14,August 2022,Monat,29.06.2022,307.47,290.00,308.50,207576,213819,180
15,September 2022,Monat,29.06.2022,333.79,325.00,340.00,86400,213075,64
16,Oktober 2022,Monat,29.06.2022,316.97,310.00,318.00,23095,1039,17
17,November 2022,Monat,29.06.2022,384.11,-,-,-,161,-
18,Dezember 2022,Monat,29.06.2022,386.37,-,-,-,384,-
19,Januar 2023,Monat,29.06.2022,369.16,-,-,-,-,-
20,Februar 2023,Monat,29.06.2022,369.16,-,-,-,2,-
21,März 2023,Monat,29.06.2022,277.22,-,-,-,-,-

In [39]:
'eex_'+df.Date[0].replace('.','-')

'eex_29-06-2022'

In [40]:
df.to_csv('eex_'+df.Date[0].replace('.','-') + '.csv', index=False)